body{
  background-color: burlywood;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination li a:hover {
  background-color: #2a87f1;
}
